{{ attach_library('milken_base/slide_display') }}
{% set view_mode = elements['#view_mode'] %}
{% set background_image = eck_entity.get('field_background_image').entity %}
{% set slide_text = eck_entity.get('field_slide_text') %}

<span id="slide-{{ eck_entity.get('uuid').value }}" class="slide-display-custom-element">
  <slide-display
    id="slide-display-{{ eck_entity.get('uuid').value }}"
    background-color="{{ eck_entity.get('field_background_color').value.color | default ("#000000")  }}"
    background-opacity="{{ eck_entity.get('field_background_color').value.opacity | default("1") }}"
    text-color="{{ eck_entity.get('field_text_color').value.color | default("#ffffff") }}"
    text-opacity="{{ eck_entity.get('field_text_color').value.opacity | default("1") }}"
    view-mode="{{ view_mode }}"
    entity-type-id="{{ eck_entity.getEntityTypeId }}"
    bundle="{{ eck_entity.bundle }}"
    {% if background_image %}
      data-background-image="{{ background_image.uri.url }}"
    {% endif %}
    {% if eck_entity.get('title') %}
      data-title="{{ eck_entity.get('title').value }}"
    {% endif %}
    changed="{{ eck_entity.get('changed').value }}"
    data-can-edit="{{ user.hasPermission('edit-any-slide-entities') }}"

  >
    <span slot="id">{{ eck_entity.get('uuid').value }}</span>
    <span slot="slide-text">
      {% if slide_text %}
        {% for line in slide_text %}
          <h3 class="{{ line.key }}">{{ line.value }}</h3>
        {% endfor %}
      {% endif %}
    </span>

    <span slot="field_background_image_tag">
      <img srcset="" />
    </span>
  </slide-display>
</span>



