{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or
 *   'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - $head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{% set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
] %}
<!DOCTYPE html>
<html {{ html_attributes }}>
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5G4NXM3');</script>
  <!-- End Google Tag Manager -->

  {% if '/events/' in url('<current>')["#markup"] %}
    <title>{{ url('<current>')["#markup"]|split('/')|last|replace({"-": " "})|capitalize }} {{ head_title|safe_join(' | ') }}</title>
  {% else %}
    <title>{{ head_title|safe_join(' | ') }}</title>
  {% endif %}
  <head-placeholder token="{{ placeholder_token|raw }}">
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">  
</head>
<body{{ attributes.addClass(body_classes) }}>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G4NXM3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
  </a>

  {{ page_top }}
  {{ page }}
  {{ page_bottom }}

  {# 
  /**
  * Modern footer, breaks at tablet sizes
  * Requires bootstrap 
  */
  #}
  <footer>
    <div class="container-fluid py-4 px-5 text-center text-xl-left">
      <div class="row">
        <div class="col-sm-12 col-xl-7">
          <div class="row">
            <div class="col footer-links d-flex justify-content-center justify-content-xl-start">
              {{ drupal_menu('footer-links-menu') }}
            </div>
          </div>
          <div class="row">
            <div class="col footer-social d-flex justify-content-center justify-content-xl-start my-4">
              {{ drupal_menu('footer-social-menu') }}
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xl-5">
          <div class="row">
            <div class="col newsletter-text d-flex justify-content-center justify-content-xl-end">
              Registered 501(c)(3). EIN: 95-4240775
            </div>
          </div>
          <div class="row">
            <div class="col footer-social d-flex justify-content-center justify-content-xl-end my-4">
              <a href="/support" class="btn-milken-orange mt-0 px-4 px-sm-5 py-2">
                Support Us
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col disabled invisible">
          <a href="//responsiveweb.io/" style="display: block; height: 0; width: 0;">Developed by Jose Ramirez @ ResponsiveWeb.io</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- BEGIN - OVERVIEW DIV ONLY IN HOMEPAGE-->
  <div class="overlay-bkg" id="overlay-container">
      <div class="form-overlay-ctc">
          <div class="close-newsform"> <a class="doclose" href="#"></a> </div>
          {{ page.floating_form }}
      </div>
  </div>
  <!-- END - OVERVIEW DIV ONLY IN HOMEPAGE-->

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

</body>
</html>
