
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}

<!-- BEGIN - PARTNER WITH US BLOCK -->
<div class="masterdiv-white">
    <div class="row container-blue">
        <div class="col-xs-12 bkg-image-container text-center ">
            <p>      {{ title_prefix }}</p>
            {% if label %}
            <h2 {{ title_attributes.addClass('block-title') }}>
                {{ label }}
            </h2>
            {% endif %}
            <p>
                {% block content %}
                    {{ content }}
                {% endblock %}
            </p>

            <p>
                {{ title_suffix }}
            </p>

        </div>
    </div>
</div>
<!-- END - PARTNER WITH US BLOCK -->
